* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    border: 1px solid lightgray;
    width: 700px;
    /* min height stretch to full viewport */
    min-height: 100vh;
    margin: 0 auto;
}

/* header */

.header {
    height: 208px;
    background: linear-gradient(rgba(0, 0, 0, 0.4),
              rgba(0, 0, 0, 0.4)),
                url("./images/movie-background.jpg" );
    background-size: cover; 
    background-repeat:no-repeat;
    background-position: center;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
}

.header-find,
.header-watchlist {
    color: #FFFFFF;
    text-shadow: 5px 5px 10px black;
}

.header-find {
    font-size: 42px;
    font-weight: 800;
}

.header-watchlist {
    font-size: 14px;
    font-weight: 700;
}

.search {
    display: flex;
    justify-content: center;
    height: 40px;
    
    position: absolute;
    width: 530px;
    top: 185px;
    left: 50%;
    transform: translate(-50%, 0);

    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
}

.icon i {
    font-size: 20px;
    color: lightgray;
    margin: 10px;
}

.search-input,
.search-btn {
    border: none;
    border-radius: 6px;
}

.search-input {
    font-family: inherit;
    width: 100%;
    padding: 9px 13px;
    text-indent: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}

.search-btn {
    font-family: inherit;
    font-weight: 500;
    padding: 0 30px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* main */

.movie-list {
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
}

.start-exploring {
    margin: 200px 0;
}

.start-exploring img {
    /* display: none; */
    width: 100%;
}

.movie {
    border: 2px solid red;
    /* min width to stretch flex childern to full width of containter */
    /* min-width: 600px; */
    margin: 44px 80px 0;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.movie-poster {
    width: 100px;
    height: 150px;
}

.movie-content-wrapper {
    border: 2px solid blue;
    /* min-width: 550px; */

}

.movie-header {
    align-items: center;
}

.movie-title {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.icon-star i {
    font-size: 18px;
    color: #FEC654;
}

.movie-rating-wrapper {
    margin-left: auto;
    align-items: baseline;
    gap: 6px;
}

.movie-rating {
    /* margin: 0 10px 0 0; */
    font-size: 18px;
    font-weight: 400;
    color: #111827;
}

/* Ulitity */
.flex {
    display: flex;
}